name: Build and Sign Extension

on: push

jobs:
  build-unlisted-xpi:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5

      - name: Install web-ext
        run: |
          npm install -g web-ext

      - name: Append ".1" to version number for unlisted channel
        run: |
          sed -i 's/"version": "\(.*\)"/"version": "\1.1"/' manifest.json

      - name: Run lint test
        run: |
          web-ext --config=web-ext-config.mjs lint

      # Unlisted channel, which we expect to return
      # within a few minutes, along with signed .xpi.
      - name: Build and sign extension
        if: github.ref_type == 'tag'
        run: |
          web-ext --config=web-ext-config.mjs \
            sign \
            --artifacts-dir ./web-ext-artifacts \
            --channel unlisted \
            --api-key ${{ secrets.WEB_EXT_API_KEY }} \
            --api-secret ${{ secrets.WEB_EXT_API_SECRET }}

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: web-ext-artifacts/*.xpi

  build-listed:
    runs-on: ubuntu-latest
    env:
      AMO_METADATA_FILE: $RUNNER_TEMP/amo-metadata.json
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5

      - name: Install web-ext
        run: |
          npm install -g web-ext

      - name: Run lint test
        run: |
          web-ext --config=web-ext-config.mjs lint

      - name: Generate release notes temporary file
        run: |
          bash generate-amo-metadata.sh $AMO_METADATA_FILE

      # Sign and submit the extension to Firefox Add-ons.
      # Assume it takes days to approve, so set
      # approval timeout to 0 to skip waiting.
      - name: Build and sign extension
        if: github.ref_type == 'tag'
        run: |
          web-ext --config=web-ext-config.mjs \
            sign \
            --artifacts-dir ./web-ext-artifacts \
            --channel listed \
            --approval-timeout 0 \
            --api-key ${{ secrets.WEB_EXT_API_KEY }} \
            --api-secret ${{ secrets.WEB_EXT_API_SECRET }} \
            --amo-metadata $AMO_METADATA_FILE
